---
title: Weather Responsive Demo
description: Prototype some responsive layouts
---
%section
  .container
    .row
      .col-sm-6
        %h2 half size textarea
        = partial "textarea.svg"
      .col-sm-6
        %h2 half size text
        = partial "text.svg"
    

